.card {
    height: 150px;
    margin: 5px;
    border-radius: 5px;
    position : relative;
    cursor: pointer;

    img {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }

    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        font-weight: bold;
        color: $color-1;
        top: 0;
        padding: 10px;
        opacity: 0;

        li {
            margin-bottom: 10px;
        }
    }

    .container:hover {
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
}

.card:hover {
    transform: scale(1.25);
    transition: 0.25s;
    z-index: 2;
}